<html>
<head>
	<meta charset="utf-8">
    <title>Home</title>
    <meta name="Where the Doc are you?" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="NHS Hackday" content="">
	
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		
		<title>Where the Doc are you?</title>
	

	
</head>
<body>

<div class="hero-unit">
<h1>Where the Doc are you?</h1>
</div>


	<div class="container">
		
			
			<div class="control-group">
			<a href="http://127.0.0.1:5000/map" class="btn btn-danger btn-large btn-block"><i class="icon-white icon-globe"></i> Find me!</a>
			</div>
			<div class="control-group">
			<a href="#" class="btn btn-primary btn-large btn-block"><i class="icon-white icon-globe"></i> Find someone!</a>
			</div>
			<div class="control-group">
			<a href="#" class="btn btn-success btn-large btn-block"> Settings</a>
			</div>
			
		
	</div>

</body>
</html> 