<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
    <title>Home</title>
    <meta name="Where the Doc are you?" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="NHS Hackday" content="">
	<meta http-equiv="refresh" content="15">
	
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		
		<title>Where the Doc are you?</title>
	

	
	</head>
	<body>
	
	<header>
		<div class="hero-unit">
			<h1> Where the Doc are you? </h1>
		</div>
	</header>

	<div class="container">
		
			
			<div class="control-group">
			<a href="http://wherethedocareyou.herokuapp.com/map" class="btn btn-danger btn-large btn-block"><i class="icon-white icon-globe"></i> Find me!</a>
			</div>
			<div class="control-group">
			<a class="btn btn-primary btn-large btn-block dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-globe"></i> Find someone!</a>		
			</div>
			<div class="control-group">
			<a href="#" class="btn btn-success btn-large btn-block"> Settings</a>
			</div>
			
		
	</div>


	
		{% block body %}
		{% endblock %}
		

		
		
	</body>
</html>

<!-- Storing extra bits of code here
Page refresh on click 
	<A HREF="javascript:history.go(0)">Click to refresh the page</A>
	
	<FORM>
	<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh">
	</FORM>

Storing this here, it's the nav-pills code
	<div class="control-group">
		<ul class="nav nav-pills red">
			<li class="active">
				<a href="http://wherethedocareyou.herokuapp.com/map">Find me!</a></li></ul>
		<ul class="nav nav-pills blue">		
				<li class="active">
				<a href="#">Find a Doctor!</a></li></ul>
		<ul class="nav nav-pills green">		
				<li class="active"><a href="#">Settings</a></li>
		</ul>
</div>
-->
